<?xml version="1.0" encoding="UTF-8"?>
<map>
    <entry>
        <string>Xen</string>
        <map>
            <entry>
                <string>URL</string>
                <string>http://172.16.222.189:9363</string>
            </entry>
        </map>
    </entry>
    <entry>
        <string>WebApplicationPort</string>
        <int>12345</int>
    </entry>
    <entry>
        <string>WebContentPath</string>
        <string>web</string>
    </entry>
    <entry>
        <string>Monitoring</string>
        <map>
            <entry>
                <string>Interval</string>
                <double>0.5</double>
            </entry>
        </map>
    </entry>
</map>