<?xml version="1.0" encoding="UTF-8"?>
<map>
    <entry>
        <string>Xen</string>
        <map>
            <entry>
                <!-- temporary measure until proper cfg backend is set up -->
                <string>URL</string>
                <string>http://172.16.222.216</string>
            </entry>
        </map>
    </entry>
    <entry>
        <string>WebApplicationPort</string>
        <int>12345</int>
    </entry>
    <entry>
        <string>WebContentPath</string>
        <string>web</string>
    </entry>
    <entry>
        <string>StorePath</string>
        <string>store</string>
    </entry>
    <entry>
        <string>Monitoring</string>
        <map>
            <entry>
                <string>Interval</string>
                <double>0.5</double>
            </entry>
        </map>
    </entry>
    <entry>
        <string>Cassandra</string>
        <map>
            <entry>
                <string>Keyspace</string>
                <string>XenMaster</string>
            </entry>
            <entry>
                <string>Host</string>
                <string>localhost</string>
            </entry>
            <entry>
                <string>PoolName</string>
                <string>Main</string>
            </entry>
        </map>
    </entry>
</map>