<div id="storage_list">
	<div class="w80">
    	<h2 class="corner top left">Available Storage Repositories</h2>
		<table class="data repo">
			<thead>
				<tr>
					<td class="selection" data-action="sr_select"><input type="checkbox" /></td>
					<td class="name">Name</td>
					<td class="location">Location</td>
					<td class="type">Type</td>
				</tr>
			</thead>
		</table>
		<div class="placeholder sr_create"></div>
	</div>
    <div class="w20 action-buttons">
		<input type="button" data-action="sr_new" value="New" />
		<input type="button" data-action="sr_detach" value="Detach" />
		<input type="button" data-action="sr_remove" value="Remove" />
	</div>
</div>