<div id="vm_list">
	<div class="column_left vm_list">
		<h2 class="corner top left">
			Virtual Machines
			<span class="actions">
				<a data-action="vm_create">Create</a>
			</span>
		</h2>
		<table cellspacing="0" cellpadding="0">
			<thead>
			</thead>
			<tbody>
				<tr class="record vm_template" data-action="vm_clicked">
					<td class="delete">Delete</td>
					<td class="name">VM Name</td>
				</tr>
			</tbody>
			<tfoot></tfoot>
		</table>
	</div>
	<div class="column_right placeholder vm_editor"></div>
</div>
