<div id="vm_detail">
	<h2>
		VM | <span class="vm_name">VM_NAME</span>
		<ul>
			<li data-action="vm_state" data-state="RUNNING">Start</li>
			<li data-action="vm_state" data-state="STOPPED">Stop</li>
			<li data-action="vm_state" data-state="REBOOT">Reboot</li>
			<li data-action="vm_state" data-state="ABORTED">Kill</li>
		</ul>
	</h2>
	
	<div class="usage_graph">
		<canvas class="graph">You do not have canvas support.</canvas>
	</div>
	
	<div class="tab_host">
		<ul class="hardware" data-action="vm_device_selected">
			<li data-deviceType="general" class="general selected">General</li>
			<li data-deviceType="display" class="display">Display</li>
			<li data-deviceType="memory" class="memory">Memory</li>
			<li data-deviceType="processor" class="processor">Processor</li>
			<li data-deviceType="disk" class="disk">WinXP OS</li>
			<li data-deviceType="disk" class="disk">Datadisk</li>
			<li data-deviceType="disk" class="disk">Debian OS</li>
			<li data-deviceType="nic" class="nic">LAN Adapter</li>
			<li data-deviceType="nic" class="nic">Home Adapter</li>
			<li data-deviceType="external" class="external">WebCam USB</li>
		</ul>
		<div class="placeholder vm_detail_panel tab_panel"></div>
	</div>
	
</div>