<div id="dashboard">
	<div class="summary column_left">
		<h2 class="corner top left">Summary</h2>
		<table cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>VM's under high load</th>
					<th>CPU</th>
					<th>MEM</th>
				</tr>
			</thead>
			<tbody>
				<tr class="record vm_template" data-action="vm_clicked">
					<td>VM Name</td>
					<td>CPU</td>
					<td>MEM</td>
				</tr>
			</tbody>
			<tfoot></tfoot>
		</table>
		<canvas width="300px" height="300px"></canvas>
	</div>
	<div class="column_right">
		<h2>The news</h2>
		<h3>2011-09-30</h3>
		<ul>
			<li>
				Jantje ging eens pruimen vangen.<br/>
				Hij is sindsdien vermist.
			</li>
		</ul>
	</div>
</div>