<div id="vm_detail" data-action="ui_alternate">
	<h2>
		VM | <span class="vm_name">VM_NAME</span>
		<ul>
			<li data-action="vm_state" data-state="RUNNING" class="start">Start</li>
			<li data-action="vm_state" data-state="STOPPED" class="stop">Stop</li>
			<li data-action="vm_state" data-state="REBOOT" class="reboot">Reboot</li>
		</ul>
		<ul class="onshift">
			<li data-action="vm_state" data-state="PAUSED" class="pause">Pause</li>
			<li data-action="vm_state" data-state="ABORTED" class="kill">Kill</li>
			<li data-action="vm_state" data-state="SUSPENDED" class="suspend">Suspend</li>
		</ul>
	</h2>
	
	<div class="usage_graph">
		<canvas class="graph">You do not have canvas support.</canvas>
	</div>
	
	<div class="tab_host">
		<ul class="hardware" data-action="vm_device_selected">
			<li data-deviceType="general" class="general selected">General</li>
			<li data-deviceType="memory" class="memory">Memory</li>
			<li data-deviceType="processor" class="processor">Processor</li>
			<li data-deviceType="vnc" class="vnc">VNC Console</li>
			<li data-action="vm_device_add" class="add">Add</li>
		</ul>
		<div class="placeholder vm_detail_panel tab_panel"></div>
	</div>
	
</div>