<div id="vm_detail" data-action="ui_alternate">
	
	<h2>New Virtual Machine</h2>
	
	<label for="vm_name">Name:</label>
	<input type="text" id="vm_name" name="name" />
	
	<label for="vm_description">Description:</label>
	<textarea name="description" id="vm_description"></textarea>
	
	<label for="vm_cpus">CPUs:</label>
	<input type="text" id="vm_cpus" name="cpus" />
	
	<label for="vm_memory">Memory (MB):</label>
	<input type="text" id="vm_memory" name="memory" />

	<label>&nbsp;</label>
	<input type="button" data-action="vm_create" value="Create" />
	
</div>