<div id="vm_detail" data-action="ui_alternate">
	
	<h2>New Virtual Machine</h2>
	
	<div class="form_line">
		<label for="vm_name">Name:</label>
		<input type="text" id="vm_name" name="name" />
	</div>
	
	<div class="form_line">
		<label for="vm_description">Description:</label>
		<textarea name="description" id="vm_description"></textarea>
	</div>
	
	<div class="form_line">
		<label for="vm_cpus">CPUs:</label>
		<input type="text" id="vm_cpus" name="cpus" />
	</div>
	
	<div class="form_line">
		<label for="vm_memory">Memory (MB):</label>
		<input type="text" id="vm_memory" name="memory" />
	</div>
	
	<div class="form_line">
		<label for="vm_type">Virtualization type:</label>
		<select id="vm_type" name="type" data-action="vm_type_changed">
			<option value="hvm">HVM</option>
			<option value="pv">Paravirtualised</option>
		</select>
	</div>
	
	<div class="type hvm">
		<div class="form_line">
			<label for="hvm_boot">Boot:</label>
		</div>
		<div class="hvm_boot_option form_line">
			<label for="hvm_boot_harddisk">Harddisk:</label>
			<input type="checkbox" id="hvm_boot_harddisk" value="c" name="hvm_boot[0]" />
			<span data-action="hvm_boot_up">up</span>	
			<span data-action="hvm_boot_down">down</span>			
		</div>
		<div class="hvm_boot_option form_line">
			<label for="hvm_boot_disk">DVD/CD Drive:</label>
			<input type="checkbox" id="hvm_boot_disk" value="d" name="hvm_boot[1]" />
			<span data-action="hvm_boot_up">up</span>	
			<span data-action="hvm_boot_down">down</span>	
		</div>
		<div class="hvm_boot_option form_line">
			<label for="hvm_boot_network">Network:</label>
			<input type="checkbox" id="hvm_boot_network" value="n" name="hvm_boot[2]" />
			<span data-action="hvm_boot_up">up</span>	
			<span data-action="hvm_boot_down">down</span>		
		</div>
	</div>
	
	<div class="type pv">
		<div class="form_line">
			<label for="pv_kernel">Kernel:</label>
			<select id="pv_kernel" name="pvkernel"></select>
		</div>		
		<div class="form_line">
			<label for="pv_ramdisk">Ramdisk:</label>
			<select id="pv_ramdisk" name="pvramdisk"></select>
		</div>
		<div class="form_line">
			<label for="pv_bootloader">Bootloader (optional):</label>
			<select id="pv_bootloader" name="pvbootloader"></select>
		</div>
		<div class="form_line">
			<label for="pv_bootloader_args">Bootloader arguments:</label>
			<select id="pv_bootloader_args" name="pvbootloaderargs"></select>
		</div>
	</div>

	<div class="form_line">
		<label>&nbsp;</label>
		<input type="button" data-action="vm_create" value="Create" />
	</div>
	
</div>