<div id="container">
	<header>
		<img src="images/logo.png" alt="logo" />
		<div class="placeholder eventviewer"></div>
		<div class="placeholder quick_access">
			<span data-action="ui_dashboard">Dashboard</span>
			<ul>
				<li data-action="ui_machines">Virtual machines</li>
				<li data-action="ui_storage">Storage</li>
				<li data-action="ui_conf_settings">Settings</li>
			</ul>
		</div>
	</header>
    
    <footer>
    XenMaster v1.0-BETA. Brought to you by Coke and coffee.
    </footer>
	
	<section id="content" class="placeholder main"></section>
	
	<section class="placeholder overlay"></section>
</div>