@CHARSET "US-ASCII";

body, html, ul, li, div, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol{
	list-style: none;
}

html {
	height: 100%;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

body {
	background: #FDFDFD;
	text-align: center;
	font-family: Arial;
	color: #333;
	font-size: 13px;
	min-height: 100%;
}

body > * {
	text-align: left;
}

table thead {
	background-color: #F4F4F4;
}

#loading {
	-webkit-transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	
	position: absolute;
	top: 10px;
	left: 10px;
	
	border: 1px solid #DEDEDE;
	background: white;
	padding: 5px 10px;
	
	font-family: verdana;
	font-size: 11px;
}

/* Corners on elements */
.corner {
	position: relative;
}

.corner:before {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
}

.corner.left:before {
	border-left: 1px solid black;
	left: 0;
}

.corner.top:before {
	border-top: 1px solid black;
	top: 0;
}

.corner.bottom:before {
	border-bottom: 1px solid black;
	bottom: 0;
}

.corner.right:before {
	border-right: 1px solid black;
	right: 0;
}

/* fonts */
@font-face { font-family: Code; src: url('../fonts/code_bold.otf'); } 

/* Main design */
#container {
	width: 900px;
	margin: 0 auto;
}

header {
	position: relative;
}

header .quick_access
{
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 20px;
	background: #E6E6E6;
	border: 1px solid #E6E6E6;
	z-index: 999;
	cursor: pointer;
	padding-left: 9px;
	background-image: url(../images/tri.png);
	background-repeat: no-repeat;
	background-position: 2px 15px;
}

header .quick_access span {
	display: block;
	text-transform: uppercase;
	color: #F7931E;
	text-shadow: 0 0 2px #FC3;
	font-size: 22px;
	font-family: Code;
	padding: 5px 10px;
	background: #F2F2F2;
}

header .quick_access ul {
	display: none;
}

header .quick_access:hover ul
{
	display: block;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

header .quick_access:hover li
{
	display: block;
	padding: 5px;
}

header .quick_access li:nth-child(odd) {
	background-color: #ECECEC;
}

header .quick_access:hover li:hover {
	color: #000;
	background-color: #FAFAFA;
	list-style-image: url(../images/tri.png);
	list-style-position: inside;
	list-style-type: square;
}

h1, h2, h3, h4, h5, h6,
.vm_list th,
.vm_list td,
#vm_detail ul.hardware li {
	font-family: Code;
	text-transform: uppercase;
	padding: 8px 10px 5px 10px;
	margin: 0;
}

h2 {
	color: #555;
	background: #E6E6E6;
	font-size: 18px;
	border-bottom: solid 1px #EEE;
	box-shadow: 0 0 3px #EEE;
}

h2 span.actions {
	float: right;
	margin-left: 10px;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
}

h2.sub {
	font-size: 14px;
	background-color: #EEE;
	padding-top: 6px;
	padding-bottom: 3px;
	padding-left: 10px;
}

h2.corner:before {
	height: 31px;
	width: 31px;
}

/* Dashboard */
/* Layout */
#dashboard .column_left {
	width: 70%;
	float: left;
}

#dashboard .column_right {
	width: 29%;
	margin-left: 71%;
}

#dashboard tbody td:last-child, #dashboard thead th:last-child {
	position: relative;
}

#dashboard tbody td:last-child:before, #dashboard thead th:last-child:before {
	content: '';
	position: absolute;
	bottom: 8px;
	left: 0;
	height: 15px;
	width: 10px;
	border-left: 2px solid #CFCFCF;
	display: block;
}

#dashboard .column_right li {
	margin-left: 10px;
	font-size: 14px;
}

/* VM Detail page */
#vm_detail h2 {
	position: relative;
}

#vm_detail h2 .vm_state {
	position: absolute;
	right: 0;
	top: 0;
	float: right;
	width: 100px;
	height: 33px;
	line-height: 33px;
	background: #E6E6E6;
	text-align: right;
	padding-right: 7px;
}

#vm_detail h2 .vm_state ul {
	display: none;
	position: absolute;
	width: 100px;
	top: 100%;
	right: 0;
	background: #E6E6E6;
}

#vm_detail h2 .vm_state:hover ul {
	display: block;
}

#vm_detail h2 li {
	padding: 0 10px;
	cursor: pointer;
}

#vm_detail h2 li:hover {
	color: #383838;
}

#vm_detail h2 ul.onshift {
	display: none;
}

#vm_detail .usage_graph {
	border: 2px solid #E6E6E6;
	display: block;
	height: 60px;
}

#vm_detail .usage_graph canvas {
	width: 100%;
	height: 100%;
}

#vm_detail ul.hardware {
	float: left;
	width: 200px;
	background: #E6E6E6;
	border: 1px solid #E6E6E6;
}

#vm_detail ul.hardware li:hover {
	color: #F7931E;
}

#vm_detail ul.hardware li {
	padding: 7px 0 7px 30px;
	background-repeat: no-repeat;
	min-height: 10px;
}

#vm_detail ul.hardware li.selected {
	background-color: #CCCCCC;
}

#vm_detail ul.hardware li.general {
	background-image: url('../images/icon/general.png');
}

#vm_detail ul.hardware li.display {
	background-image: url('../images/icon/display.png');
}

#vm_detail ul.hardware li.memory {
	background-image: url('../images/icon/memory.png');
}

#vm_detail ul.hardware li.processor {
	background-image: url('../images/icon/processor.png');
}

#vm_detail ul.hardware li.disk {
	background-image: url('../images/icon/disk.png');
}

#vm_detail ul.hardware li.harddisk {
	background-image: url('../images/icon/harddisk.png');
}

#vm_detail ul.hardware li.nic {
	background-image: url('../images/icon/nic.png');
}

#vm_detail ul.hardware li.external {
	background-image: url('../images/icon/external.png');
}

#vm_detail ul.hardware li.add {
	background-image: url('../images/icon/add.png');
}

#vm_detail .tab_host {
	overflow: hidden;
	border: 1px solid #E6E6E6;
}

#vm_detail .tab_panel {
	margin-left: 200px;
	padding: 10px;
}

#vm_general li span {
	font-weight: bold;
	padding-right: 10px;
	width: 100px;
}

#notifier {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	background: #FFB900;
	padding: 10px 20px;
	border: 2px solid #E6E6E6;
}

#notifier span {
	font-weight: bold;
	margin-left: 10px;
}

#notifier p {
	margin: 0;
	padding: 0;
	display: inline;
}

#debug_console {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #E6E6E6;
}

#debug_console label {
	float: left;
	width: 100px;
	text-align: right;
}

#debug_console input {
	width: 300px;
}

#debug_console textarea {
	width: 600px;
	height: 50px;
}

#debug_console .submit {
	clear: left;
}

#debug_console pre {
	clear: left;
}

.form_line {
	overflow: hidden;
	min-height: 25px;
	padding-top: 5px;
}

.form_line label,
.form_line input,
.form_line select,
.form_line textarea {
	float: left;
}

.form_line label {
	width: 120px;
	font-weight: bold;
	text-shadow: 0 0 3px #FFF;
	padding: 4px;
	margin-left: 5px;
}

.form_line input[type=text],
.form_line input[type=password],
.form_line textarea {
	height: 20px;
	border-radius: 4px;
	background-color: #FEFEFE;
	box-shadow: inset 0 0 3px #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #DDD;
	color: #666;
	min-width: 250px;
	padding-left: 4px;
	font-size: 14px;
	outline: none;
}

.form_line textarea{
	min-height: 75px;
}

.form_line input[type=button] {
	margin-left: 165px;
	background-color: #EEE;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #DDD;
	border-radius: 4px;
	margin-bottom: 5px;
	cursor: pointer;
}

.form_line select {
	width: 250px;
}

.form_line input[type=button]:hover {
	border-color: #F7931E;
	background-color: #FDFDFD;
	box-shadow: 0 0 3px #F7931E;
}

.w80 {
	width: 80%;
	float: left;
}

.w20 {
	width: 20%;
	float: left;
}

.action-buttons input[type="button"] {
	margin-left: 10px;
	text-align: right;
	border-color: #BBB;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	padding-top: 35px;
	width: 100px;
	height: 60px;
	font-family: Code;
	background-image: -moz-radial-gradient(left center, 80px 70px, #E6E6E6, #F2F2F2);
	background-image: -webkit-radial-gradient(left center, 80px 70px, #E6E6E6, #F2F2F2);
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: box-shadow;
	-moz-transition-duration: 0.5s;
	-moz-transition-property: box-shadow;
	box-shadow: none;
}

.action-buttons input[type="button"]:hover {
	background-image: -moz-radial-gradient(left center, 50px 70px, #F7931E, #FC0);
	background-image: -webkit-radial-gradient(left center, 50px 70px, #F7931E, #FC0);
	box-shadow: inset 0 0 15px #F93;
}

table.data {
	width: 100%;
	border-spacing: 0;
}

.data td {
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.data thead td {
	font-family: Code;
	font-size: 14px;
	background-color: #EEE;
}

.data td {
	border-bottom-color: #BBB;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

footer {
	text-align: right;
	position: fixed;
	bottom: 0px;
	width: 850px;
	padding: 5px;
	border-color: #CCC;
	border-width: 1px;
	border-style: solid;
	background-color: #FDFDFD;
}

.placeholder .overlay {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background: white;
}

#vm_list .column_left {
	width: 30%;
	float: left;
}

#vm_list .column_right {
	width: 69%;
	margin-left: 31%;
}

.vm_list th:first-child, .vm_list h3 {
	color: #F7931E;
	font-size: 18px;
}

.vm_list th, .vm_list td {
	border-bottom: 1px solid #BBB;
}

.vm_list tbody tr {
	cursor: pointer;
}

.vm_list table {
	width: 100%;
	border: 0;
}

.vm_list tbody td+td, .vm_list thead th+th {
	width: 15px;
	padding: 5px 5px;
	text-align: center;
}

.hvm_boot_option label {
	width: 100px;
	float: left;
	margin-left: 10px;
}

.hvm_boot_option span {
	display: none;
}

.hvm_boot_option:hover span {
	display: inline;
}