<div id="debug_console">
	<form>
		<div>
			<label for="command" placeholder="Session[].getThisHost.getResidentVMs">Command:</label>
			<input type="text" id="command" name="command" />
		</div>
		<div>
			<label for="reference">Ref:</label>
			<input type="text" id="reference" name="ref" />
		</div>
		<div style="clear: left">
			<label for="data">Call arguments separated by comma:</label>
			<textarea id="data"></textarea>
		</div>
		<input type="button" value="Go" class="submit" />
		<pre style="overflow: scroll; height: 250px"id="debug"></pre>
	</form>
</div>